@import "variables";
@import "~grommet/scss/grommet-core/index";

// "overscroll fix"
html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}


.app-logo {
  display: flex;
}

.app-title,
.header-title {
  font-size: 20px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media-query(palm) {
    font-size: 19px !important;
  }
}

.app-header {
  background-color: #fff !important;
  box-shadow: 0.5px 0.9px 25px rgba(6,6,6,0.1);
}

.app-header {
  @include media-query(palm) {
    .grommetux-title {
      display: none;
      width: 160px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.app-footer {
  .footer-container {
    @include media-query(palm) {
      align-items: center !important;
    }
  }
}

.secondary {
  @include media-query(palm) {
    align-items: center !important;
  }
}

.content-container > div {
  //@include media-query(lap-and-up) {
  //  min-width: 960px;
  //}

  @media screen and (min-width: 720px) and (max-width: 840px) {
    min-width: 750px;
  }
}

